*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper{
    width: 100%;
    height: 100vh;
}

/* Hero Area */

.hero-area{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1581360153452-3240f58902e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    padding-top: 10px;
}
.right_logo img{
    max-width: 100px;
    max-height: 70px;
}
.navigation ul{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation li{
    list-style: none;
    margin-right: 20px;
}

.navigation li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    transition: 0.3s all ease-out;
}
.navigation li a:hover{
    color: #FFC93C;
}
.navigation button {
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    background-color: #0081C9;
    transition: 0.3s all ease-out;
    color: #ffffff;
}
.navigation button:hover {
    background-color: #5BC0F8;
}
.hero-middle-text{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    margin-top: 10rem;
}
.hero-middle-text h1{
    font-size: 5rem;
}
.hero-middle-text p{
    font-size: 2rem;
}

/* Package Area */

.top-header-text{
    width: 40%;
    margin: 0 auto;
    padding-top: 3rem;
}

.top-header-text h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.75rem 0;
    color: #5BC0F8;
}

.discount-packages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    margin-top: 3rem;
}

.container{
    position: relative;
    text-align: center;
}

.container span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-stretch: extra-expanded;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

.discount-packages img{
    max-width: 350px;
    height: 200px;
    transition: 0.5s all ease-out;
    filter: brightness(50%);
}

.discount-packages img:hover{
    transform: scale(1.1);
}


/* Category Container */

.categories-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.categories-container a{
    text-decoration: none;
}

.sub-category-container{
    box-shadow: 0px 0 10px rgb(65, 63, 63);
    margin-bottom: 3rem;
}

.sub-category-container img{
    height: 250px;
    width: 350px;
    transition: 0.3s all ease-in-out;
}

.sub-category-container img:hover{
    transform: scale(1.1);
}

.body-text{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.body-text h3{
    font-size: 1.5rem;
    color: rgb(49, 47, 47);
}

.body-text p{
    font-size: 1.5rem;
    color: #0081C9;
}

.rating{
    font-size: 1.2rem;
    padding: 0 1rem;
    color: rgb(70, 63, 63);
}

.categories-container button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.75rem 1rem;
    cursor: pointer;
    background-color: #5BC0F8;
    color: #ffffff;
    border: none;
    font-size: 1rem;
}

.sub-description{
    max-width: 350px;
    padding: 1rem 1rem;
    color: rgb(70, 63, 63);
}

.categories-container svg{
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
}

/* Latest News Section */


.latest-news{
    display: flex;
    justify-content: space-around;
    margin: 0 9rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4rem;

}
.left-section-news{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.left-section-news img{
    width: 100px;
    height: 100px;
    margin-right: 1em;
    border-radius: 5px;
}
.left-section-news a{
    text-decoration: none;
    color: rgb(49, 46, 46);
}
.lates-date{
    display: flex;
    margin-top: 1rem;
}
.date-news{
    margin-right: 10px;
    color: #5BC0F8;
}
.right-section-news{
    max-width: 500px;
}

.right-section-news img{
    width: 100%;
    height: 250px;
}
.right-section-news a{
    text-decoration: none;
    color: black;
}
.right-section-news p{
    font-size: 1.1rem;
    line-height: 1.5;
    color: rgb(71, 65, 65);
}
.footer{
    background-color: #1c1f20;
    margin-top: 3rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.logo-section{
    text-align: center;
}
.logo-section img{
    max-width: 200px;
    max-height: 150px;
}
.logo-section h1{
    font-size: 1rem;
    color: #696d6e;
    text-align: left;
}
.logo-section li{
    list-style-type: none;
    text-align: left;
    margin: 5px 0;
    color: #ffffff;
}
.post-section h1{
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}
.post-section a{
    text-decoration: none;
    color: #696d6e;
}
.post-section p{
    margin-bottom: 20px;
}
.post-section h2:hover{
transition: 0.2s all ease-out;
}
.post-section h2:hover{
    color: #FFC93C;
}

.subscribe h1{
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}
.subscribe p{
    font-size: 1rem;
    color: #696d6e;
    margin-bottom: 1rem;
}
.subscribe input{
    display: block;
    padding: 10px 30px;
    margin: 5px 0;
}
.submit{
    background-color: #0081C9;
    color: #ffffff;
    font-weight: bold;
    border: none;
}

.instragram h1{
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

